.App {
  height: 100vh;
  overflow: auto;
  text-align: center;
  background-color: #d8e3e7;
}
.tasks_list {
  border-radius: 5px;
  max-width: 400px;
  padding: 20px;
  width: 70%;
  display: block;
  background-color: #51c4d3;
  margin: 0 auto;
}
.displayname h1 b {
  font-size: 40px;
  color: #126e82;
}
.tasks_textfield_button{
  background-color: #485461;
  color: white;
  border-radius: 2px;
  display: block;
  margin: 10px auto;
}
